<form {{action 'searchByUser' on="submit"}} class="bg-search-form">
  <h3>Browse a collection</h3>
  {{input class="bg-search-input" value=username placeholder="BGG Username"}}
  <button class="bg-search-button">browse</button>
</form>

<form {{action 'searchByGame' on="submit"}} class="bg-search-form">
  <h3>Search for a boardgame</h3>
  {{input class="bg-search-input" value=boardgameName placeholder="Boardgame Name"}}
  <button class="bg-search-button">search</button>
</form>

<form {{action 'searchById' on="submit"}} class="bg-search-form">
  <h3>View a specific boardgame</h3>
  {{input class="bg-search-input" value=boardgameId placeholder="Boardgame ID"}}
  <button class="bg-search-button">search</button>
</form>
